extends ../layout

block head 
  title О компании

block main
  .slide_top
    img(src="website/img/about__slide.jpg" alt="")
  section.about
    .container
      ul.breadcrumbs
        li
          a(href='/') Главная
          |  /
        li
          span О компании
      h1.about__title Виды деятельности
      .section__text-block.about__desc
        p Аптечная сеть ОАО «Курская фармация» предоставляет населению и лечебным учреждениям области широкий перечень фармацевтических услуг. Филиалы и аптечные пункты компании открыты во всех микрорайонах Курска, а также в густонаселенных уголках региона, благодаря чему доступны большому количеству покупателей.
        p Основополагающий вид деятельности компании – оптовая и розничная реализация лекарственных средств, изделий медицинского назначения и других товаров аптечного ассортимента. Наше предприятие сотрудничает с отечественными и зарубежными производителями медикаментов, поставляя на фармацевтический рынок Курска десятки тысяч препаратов – от самых востребованных до редких и дорогостоящих.
        p Помимо главной функции поставщика лекарственных препаратов населению ОАО «Курская фармация» оказывает ряд информационно-консультационных, фармацевтических и социально значимых услуг. Мы имеем лицензии на все виды и услуги фармацевтической деятельности.
    .section__block-bg
      .container.about__directions
        h2.section__title Направления деятельности ОАО &laquo;Курская фармация&raquo;:
        .about__directions-roster
          ul.section__roster.section__roster--bold
            li Оптово-розничная реализация населению и лечебно-профилактическим учреждениям региона готовых лекарственных средств и прочей продукции аптечного ассортимента;
            li Изготовление лекарственных средств по индивидуальным рецептам и требованиям лечебно-профилактических учреждений;
            li Поставка медицинских товаров для исполнения ряда федеральных и региональных целевых программ в сфере здравоохранения;
            li Обеспечение бесплатными медикаментами по рецептам врачей льготных категорий граждан;
            li Консультирование по вопросам выбора, использования и хранения лекарственных средств;
            li Предоставление консультативной помощи населению в целях обеспечения грамотной и эффективной самопомощи и самопрофилактики;
            li Информирование населения о наличии лекарств через единую справочную систему аптечной сети по телефону (4712) 515-515;
            li Проверка соответствия показателей качества поступающих и изготовленных лекарственных препаратов установленным требованиям; 
            li Доставка лекарственных препаратов на дом;
    .about__info 
      .container 
        .section__text-block
          p ОАО «Курская фармация» является производственной базой, для студентов Курского государственного медицинского университета», которые проходят в наших филиалах-аптеках профессиональную практику, интернатуру.
          .about__subtitle Мы являемся потенциальными работодателями для выпускников ВУЗа и гарантируем:
          ul 
            li - стабильную заработную плату;
            li - комфортные условия труда;
            li - социальные гарантии согласно ТК РФ;
            li - возможность карьерного роста;
            li - повышение профессиональных знаний и управленческих навыков через систему обучения, консультирования и наставничества.
          p Аптечная сеть ОАО «Курская фармация» работает для того, чтобы куряне могли быстро найти и купить необходимое лекарство по разумным ценам.