extends ../layout

block head 
  title Аптечная сеть

block main
  .slide_top
    img(src="./website/img/provision__slide.jpg" alt="")
  section.network
    .container
      ul.breadcrumbs
        li
          a(href='/') Главная
          |  /
        li
          a(href='#') О компании
          |  /
        li
          span Аптечная сеть
      h1.section__title Аптечная сеть
      .network__desc Аптеки &laquo;Курская фармация&raquo; — это:
      ul.section__roster
        li сеть государственных аптек в г. Курске;
        li высококвалифицированные специалисты, имеющие дипломы о высшем и среднем фармацевтическом образовании, и сертификаты специалистов по соответствующим фармацевтическим специальностям;
        li более 50% специалистов имеют высшую или первую квалификационную категорию;
        li расположение аптек в каждом округе г. Курск, а также в сельской местности Курской области, включая аптеки, работающие в круглосуточном режиме;
        li наличие аптек, имеющих рецептурно-производственные отделы;
        li все аптеки и аптечные пункты - участники программы обеспечения необходимыми лекарственными препаратами граждан, имеющих право на получение государственной социальной помощи;
        li ассортимент, включающий в себя не только готовые лекарственные препараты, но и изделия медицинского назначения, дезинфицирующие средства, предметы и средства личной гигиены, предметы и средства, предназначенные для ухода за больными, новорожденными и детьми, не достигшими возраста 3-х лет, минеральные воды, продукты лечебного, детского и диетического питания;
        li организация строгого входного и внутреннего контроля по качеству лекарственных препаратов;
        li наличие горячей линии по льготному лекарственному обеспечению и справочной службы о наличии лекарственных препаратов в аптеках сети (4712) 515-515.