extends ../layout

block head 
  title Авторизация | Регистрация

block main
  main.main
    section.auth
      .container
        ul.breadcrumbs
          li
            a(href='/') Главная
            |  /
          li
            span Авторизация
        .auth__registration
          h1.auth__title.auth__title--left Авторизация
          .auth__block 
            .auth__switches
              a.auth__switch(href="") Вход
              a.auth__switch.is-active(href="") Регистрация
            .auth__form
              form 
                .auth__form-row 
                  input(type="text" placeholder="Ваше имя").form__entry
                .auth__form-row 
                  input(type="email" placeholder="Ваш e-mail").form__entry
                .auth__form-row 
                  input(type="password" placeholder="Пароль").form__entry            
                .auth__form-row
                  .form__agreement
                    input(type="checkbox").form__checkbox
                    div
                      span Отправляя данную форму, Вы соглашаетесь 
                      br
                      | с 
                      a(href="#")  Политикой о защите персональных данных
                .auth__form-row
                  button(type="submit").button.button--medium Зарегестрироваться