extends ../layout

block head 
  title Каталог

block main
  main.main
    section.container.catalog
      ul.breadcrumbs
        li
          a(href='/') Главная
          |  /
        li
          span Каталог товаров
      h1.section__title.section__title--left Каталог
      .catalog__filter.filter
        .filter__controls 
          .filter__entries
            .filter__entries-sub Цена:
            .filter__entry
              span от
              input(type="text" value="0")
            .filter__entry
              span до
              input(type="text" value="426 224")
          .filter__buttons
            button(type="submit").filter__btn.filter__btn--accept Применить
            button(type="reset").filter__btn.filter__btn--clear Сбросить
        .filter__selection
          .filter__selection-item.filter__selection-item--dropdown
            label
              input(type="radio" name="filter" value="price").filter__checkbox
              span.filter__selection-desc По цене
            a.filter__selection-button    
            ul.filter__dropdown
              li.filter__dropdown-item.filter__dropdown-item--up Сначала дешевые
              li.filter__dropdown-item.filter__dropdown-item--down Сначала дорогие
          .filter__selection-item
            label
              input(type="radio" name="filter" value="avaliable" checked).filter__checkbox
              span.filter__selection-desc По наличию
      ul.catalog__list 
        li.similar_item
          .pharmacy__label
          a.similar_item__img(href="/catalog/item")
            img(src='/website/img/item_02.jpg' alt='')
          a.similar_item__name 8.1.8 beauty formula гиалуроновый увлажняющий крем для чувствительной 
          .grid
            span.similar_item__price
              | Цена: 
              b
                | 516.40 
                span.rub a
            a.similar_item__link(href='') Цены и наличие в других аптеках
            a.similar_item__cart(href='добавить в корзину' title='в корзину')  
        li.similar_item
          a.similar_item__img(href="/catalog/item")
            img(src='/website/img/item_04.jpg' alt='')
          a.similar_item__name  Аквадетрим таблетки раств. 500ME 90шт. 
          .grid
            span.similar_item__price
              | Цена: 
              b
                | 516.40 
                span.rub a
            a.similar_item__link(href='') Цены и наличие в других аптеках
            a.similar_item__cart(href='добавить в корзину' title='в корзину')    
        li.similar_item
          a.similar_item__img(href="/catalog/item")
            img(src='/website/img/item_03.jpg' alt='')
          a.similar_item__name  8.1.8 beauty formula гиалуроновый увлажняющий крем для чувствительной 
          .grid
            span.similar_item__price
              | Цена: 
              b
                | 516.40 
                span.rub a
            a.similar_item__link(href='') Цены и наличие в других аптеках
            a.similar_item__cart(href='добавить в корзину' title='в корзину')  
        li.similar_item
          a.similar_item__img(href="/catalog/item")
            img(src='/website/img/item_04.jpg' alt='')
          a.similar_item__name  Аквадетрим таблетки раств. 500ME 90шт. 
          .grid
            span.similar_item__price
              | Цена: 
              b
                | 516.40 
                span.rub a
            a.similar_item__link(href='') Цены и наличие в других аптеках
            a.similar_item__cart(href='добавить в корзину' title='в корзину')  
        li.similar_item
          .pharmacy__label
          a.similar_item__img(href="/catalog/item")
            img(src='/website/img/item_02.jpg' alt='')
          a.similar_item__name 8.1.8 beauty formula гиалуроновый увлажняющий крем для чувствительной 
          .grid
            span.similar_item__price
              | Цена: 
              b
                | 516.40 
                span.rub a
            a.similar_item__link(href='') Цены и наличие в других аптеках
            a.similar_item__cart(href='добавить в корзину' title='в корзину')  
        li.similar_item
          a.similar_item__img(href="/catalog/item")
            img(src='/website/img/item_04.jpg' alt='')
          a.similar_item__name  Аквадетрим таблетки раств. 500ME 90шт. 
          .grid
            span.similar_item__price
              | Цена: 
              b
                | 516.40 
                span.rub a
            a.similar_item__link(href='') Цены и наличие в других аптеках
            a.similar_item__cart(href='добавить в корзину' title='в корзину')   
        li.similar_item
          a.similar_item__img(href="/catalog/item")
            img(src='/website/img/item_03.jpg' alt='')
          a.similar_item__name  8.1.8 beauty formula гиалуроновый увлажняющий крем для чувствительной 
          .grid
            span.similar_item__price
              | Цена: 
              b
                | 516.40 
                span.rub a
            a.similar_item__link(href='') Цены и наличие в других аптеках
            a.similar_item__cart(href='добавить в корзину' title='в корзину')  
        li.similar_item
          a.similar_item__img(href="/catalog/item")
            img(src='/website/img/item_04.jpg' alt='')
          a.similar_item__name  Аквадетрим таблетки раств. 500ME 90шт. 
          .grid
            span.similar_item__price
              | Цена: 
              b
                | 516.40 
                span.rub a
            a.similar_item__link(href='') Цены и наличие в других аптеках
            a.similar_item__cart(href='добавить в корзину' title='в корзину')  
      ul.pagination
        li.pagination__arrow.pagination__arrow--prev
          a(title="Предыдущая страница")
          li.pagination__number.active
            a 1
          li.pagination__number
            a 2
          li.pagination__number
            a 3
          li.pagination__number
            a 4
          li.pagination__number
            a 5
        li.pagination__arrow.pagination__arrow--next
          a(title="Следующая страница")


