extends ../layout

block main 
  main.main
    section.container.item.row
      .breadcrumbs
        a(href='/') Главная
        |  /  
        a(href='/') Каталог товаров
        |  /  
        a(href='/') Лекарственные средства
        |  /  
        span Граммидин 0,06мг+0,1мг/доза 112 Доз Спрей Доз Д/мест Прим
      h1 Граммидин 0,06мг+0,1мг/доза 112 Доз Спрей Доз Д/мест Прим
      p.item__art Код 85589
      a.item__img.fancybox(href='/website/img/item.jpg')
        img(src='/website/img/item.jpg')
      .item__info
        .gray
          p.item__price
            | Цена: 
            b
              | 351.00 
              span.rub a
          .item__price-billets
            span.item__avail.item__avail--available В наличии
            span.item__recipe По рецепту
          // <span class="item__avail item__avail--noavailable">Нет в наличии</span>
          p.item__adr Курская обл., Черемисиновский район, п. Черемисиново, ул. Комсомольская, д. 4
        a.item__link(href='') Цены и наличие в других аптеках
        p.char
          span
            b Производитель:
            |  Фамар Нидерланды Б.В./ Валента Фарм, ПАО
          span
            b Страна:
            |  Нидерланды
          span
            b Форма выпуска:
            |  спрей для местного применения
          span
            b В упаковке:
            |  0,06МГ+0,1МГ/ДОЗА + 112 ДОЗ
        a.btn.item__cart(href='добавить в корзину')
          span В корзину
    section.item__tabs.container
      ul.item__tab.row
        li.active(data-tab='#pok') Показания
        li(data-tab='#inst') Инструкция по применению
        li(data-tab='#info') Информация о товаре
      #pok.item__tab_content
        p
          b Способ применения и дозировка
        p
          | Местно, путем распыления на слизистую оболочку полости рта и горла. Применяется по сле еды. Дозировка для взрослых: по 4 впрыска на одно применение 3 раза в день в течение 7 дней. Непосредственно после применения препарата следует воздержаться от приема пищи и напитков в течение 1 часа. Если после лечения улучшения не наступает или симптомы усугубляются, или появляют ся новые симптомы, необходимо проконсультироваться с врачом. Применяйте препарат только согласно тем показаниям, тому способу применения и в тех дозах, которые указаны в инструкции.
        p
          b Побочные действия
        p
          | Возможны аллергические реакции на компоненты препарата. Если у Вас отмечаются побочные эффекты, указанные в инструкции, или они усугубляют ся, или Вы заметили любые другие побочные эффекты, не указанные в инструкции, сооб щите об этом врачу.
        p
          b Противопоказания
        p
          | - Повышенная чувствительность к грамицидину С, цетилпиридиния хлориду и другим компонентам препарата; - беременность (I триместр); - период лактации; - детский возраст до 18 лет. С осторожностью: - Беременность (II-III триместр).
        p
          b Особые указания
        p
          | Не следует применять препарат при наличии открытых ран в полости рта, поскольку цетилпиридиния хлорид замедляет заживление ран. Препарат содержит этанол. В максимальной разовой дозе препарата содержание этанола составляет до 0,08 г. Влияние на способность управлять трансп. ср. и мех.: Препарат не влияет на способность выполнять потенциально опасные виды деятельности, требующие особого внимания и быстроты реакций (управление автомобилем и другими транспортными средствами, работа с движущимися механизмами, работа диспетчера и оператора и т.п.).
        p
          b Взаимодействие с другими препаратами
        p
          | В настоящее время не описано случаев клинически значимого взаимодействия с другими лекарственными средствами.
      #inst.item__tab_content
        p
          | Местно, путем распыления на слизистую оболочку полости рта и горла. Применяется по сле еды. Дозировка для взрослых: по 4 впрыска на одно применение 3 раза в день в течение 7 дней. Непосредственно после применения препарата следует воздержаться от приема пищи и напитков в течение 1 часа. Если после лечения улучшения не наступает или симптомы усугубляются, или появляют ся новые симптомы, необходимо проконсультироваться с врачом. Применяйте препарат только согласно тем показаниям, тому способу применения и в тех дозах, которые указаны в инструкции.
      #info.item__tab_content
        p
          | Местно, путем распыления на слизистую оболочку полости рта и горла. Применяется по сле еды.
    section.container.similar.comparsion
      h2.comparsion__title Аналоги
      #comparsion.similar_list
        div
          .similar_item
            .pharmacy__label
            a.similar_item__img
              img(src='/website/img/item_02.jpg' alt='')
            a.similar_item__name 8.1.8 beauty formula гиалуроновый увлажняющий крем для чувствительной 
            .grid
              span.similar_item__price
                | Цена: 
                b
                  | 516.40 
                  span.rub a
              a.similar_item__link(href='') Цены и наличие в других аптеках
              a.similar_item__cart(href='добавить в корзину' title='в корзину')
        div
          .similar_item
            a.similar_item__img
              img(src='/website/img/item_04.jpg' alt='')
            a.similar_item__name 8.1.8
            .grid
              span.similar_item__price
                | Цена: 
                b
                  | 516.40 
                  span.rub a
              a.similar_item__link(href='') Цены и наличие в других аптеках
              a.similar_item__cart(href='добавить в корзину' title='в корзину')
        div
          .similar_item
            a.similar_item__img
              img(src='/website/img/item_03.jpg' alt='')
            a.similar_item__name 8.1.8 beauty formula гиалуроновый увлажняющий крем для чувствительной 
            .grid
              span.similar_item__price
                | Цена: 
                b
                  | 516.40 
                  span.rub a
              a.similar_item__link(href='') Цены и наличие в других аптеках
              a.similar_item__cart(href='добавить в корзину' title='в корзину')
        div
          .similar_item
            a.similar_item__img
              img(src='/website/img/item_04.jpg' alt='')
            a.similar_item__name 8.1.8 beauty formula гиалуроновый увлажняющий крем для чувствительной 
            .grid
              span.similar_item__price
                | Цена: 
                b
                  | 516.40 
                  span.rub a
              a.similar_item__link(href='') Цены и наличие в других аптеках
              a.similar_item__cart(href='добавить в корзину' title='в корзину')
        div
          .similar_item
            a.similar_item__img
              img(src='/website/img/item.jpg' alt='')
            a.similar_item__name 8.1.8 beauty formula гиалуроновый увлажняющий крем для чувствительной 
            .grid
              span.similar_item__price
                | Цена: 
                b
                  | 516.40 
                  span.rub a
              a.similar_item__link(href='') Цены и наличие в других аптеках
              a.similar_item__cart(href='добавить в корзину' title='в корзину')
    section.container.similar
      h2 Вы ранее смотрели
      // вывод 5 товаров
      #similar.similar_list
        div
          .similar_item
            a.similar_item__img
              // 300*300
              img(src='/website/img/item.jpg' alt='')
            a.similar_item__name 8.1.8 beauty formula гиалуроновый увлажняющий крем для чувствительной 
            .grid
              span.similar_item__price
                | Цена: 
                b
                  | 516.40 
                  span.rub a
              a.similar_item__link(href='') Цены и наличие в других аптеках
              a.similar_item__cart(href='добавить в корзину' title='в корзину')
        div
          .similar_item
            a.similar_item__img
              // 300*300
              img(src='/website/img/item.jpg' alt='')
            a.similar_item__name 8.1.8
            .grid
              span.similar_item__price
                | Цена: 
                b
                  | 516.40 
                  span.rub a
              a.similar_item__link(href='') Цены и наличие в других аптеках
              a.similar_item__cart(href='добавить в корзину' title='в корзину')
        div
          .similar_item
            a.similar_item__img
              // 300*300
              img(src='/website/img/item.jpg' alt='')
            a.similar_item__name 8.1.8 beauty formula гиалуроновый увлажняющий крем для чувствительной 
            .grid
              span.similar_item__price
                | Цена: 
                b
                  | 516.40 
                  span.rub a
              a.similar_item__link(href='') Цены и наличие в других аптеках
              a.similar_item__cart(href='добавить в корзину' title='в корзину')
        div
          .similar_item
            a.similar_item__img
              // 300*300
              img(src='/website/img/item.jpg' alt='')
            a.similar_item__name 8.1.8 beauty formula гиалуроновый увлажняющий крем для чувствительной 
            .grid
              span.similar_item__price
                | Цена: 
                b
                  | 516.40 
                  span.rub a
              a.similar_item__link(href='') Цены и наличие в других аптеках
              a.similar_item__cart(href='добавить в корзину' title='в корзину')
        div
          .similar_item
            a.similar_item__img
              // 300*300
              img(src='/website/img/item.jpg' alt='')
            a.similar_item__name 8.1.8 beauty formula гиалуроновый увлажняющий крем для чувствительной 
            .grid
              span.similar_item__price
                | Цена: 
                b
                  | 516.40 
                  span.rub a
              a.similar_item__link(href='') Цены и наличие в других аптеках
              a.similar_item__cart(href='добавить в корзину' title='в корзину')