extends ../layout

block head 
  title Оплата и доставка

block main
  main.main
    .slide_top
      img(src="/website/img/delivery_slide.jpg" alt="")
    section.delivery-rules
      .container
        ul.breadcrumbs
          li
            a(href='/') Главная
            |  /
          li
            span Оплата и доставка
        h1.delivery-rules__title Правила доставки
        .delivery-rules__desc
          h3.section__block-title Обработка и доставка заказа
          .section__text-block 
            p 
              | После оформления заказа на сайте в течение дня с 9:00 до 21:00 по местному времени с вами может связаться менеджер для того, чтобы подтвердить заказ или уточнить детали. Затем заказ отправляется на сборку. Если в личном кабинете у вас включены уведомления по e-mail, вы получите на электронную почту письмо-подтверждение заказа с номером заказа, перечнем товаров в заказе и их стоимостью. 
              br
              | Заказы, оформленные с 9:00 до 18:00 текущего дня, обрабатываются на складе в этот же день. Заказы, сделанные после 18:00, будут обработаны только на следующий рабочий день.
            p После сборки заказ отправляется в выбранную аптеку.
            p Обычно, если заказ был сделан на сайте с понедельника по четверг до 18:00 по местному времени, мы стараемся доставить его в аптеку уже на следующий день. Но в некоторых случаях доставка возможна и через 1-2 дня после оформления заказа. Если же заказ был сделан в пятницу, субботу или воскресенье, мы постараемся доставить его в указанную вами аптеку в понедельник или вторник.
            p 
              | В некоторых регионах доставка может занять 3-4 и более дней в зависимости от дальности расположения аптек. Вы можете сами связаться с аптекой по телефону и узнать, поступил ли ваш заказ и можно ли его забрать. 
              br
              | Если заказ не будет выкуплен в течение 5 дней, он будет расформирован и аптека вернет его обратно на склад. В случае систематического не выкупа заказов аккаунт, с которого они осуществляются, может быть заблокирован.
      .section__block-bg
        .container 
          h3.section__block-title Оплата и получение заказа 
          .section__text-block.delivery-rules__getting
            p 
              | Для получения заказа в аптеке достаточно назвать номер заказа (вы видите его в вашем личном кабинете). 
              br
              | Заказ оплачивается при получении. Информацию о порядке оплаты заказанных товаров, необходимо уточнять в аптеке, являющейся продавцом этих товаров. 
              br
              | Все претензии по товарам, входящим в интернет-заказ, принимаются при его получении в аптеке и до оплаты на кассе, т.к. лекарства и медицинские товары входят в перечень не подлежащих обмену и возврату. Получая заказ, обязательно проверьте соответствие тому, что было заказано, количество товаров, их цены, целостность, цвет (если на сайте была возможность выбора цвета товара), сроки годности. 
              br
              | Законодательством не предусмотрено обязательное наличие, либо заполнение гарантийного талона для предъявления претензий продавцу, либо сервисному центру. Но для более быстрого разрешения вопроса о гарантийном обслуживании при оформлении покупки вы можете попросить фармацевта заполнить гарантийный талон. Также рекомендуем сохранить чек.
            p Аптека имеет право вскрывать фирменную транспортную упаковку в целях проведения предпродажной подготовки поступившего товар на основании положений:
            p 
              | - пункта 75 Правил продажи отдельных видов товаров, утвержденных Постановлением Правительства РФ от 19.01.1998г. №55,
              br
              | - пункта 50 Правил надлежащей аптечной практики лекарственных препаратов для медицинского применения, утвержденных Приказом Минздрава России от 31.08.2016г. №647н, так как до момента совершения оплаты заказа в кассе аптеки весь товар, поступивший в аптеку, является собственностью аптеки.
      .delivery-rules__info 
        .container 
          h3.section__block-title Важно!
          .section__text-block.delivery-rules__text
            p «Курская фармация» не продает товары на сайте и не доставляет заказы на дом. Дистанционная продажа медикаментов (в том числе с доставкой на дом) в соответствии с Указом президента и Постановлением правительства может осуществляться только аптечной организацией, имеющей соответствующее разрешение Росздравнадзора. Мы не нарушаем закон, наша доставка осуществляется в аптеку.
            p Под «заказом» на сайте kurskfarm.ru понимается формирование пользователем сайта заявки  на поставку выбранного товара.
