extends ../layout

block head 
  title Документы

block main 
  main
  .container.docs
    h1.center
      b
        | Со следующими нормативными документами Вы можете ознакомиться у
        | дежурного администратора:
    p
      | - ПП РФ от 30 июля 1994 года N 890 «О государственной поддержке развития
      | медицинской промышленности и улучшении обеспечения населения и учреждений
      | здравоохранения лекарственными средствами и изделиями медицинского
      | назначения»;
    p
      | - Перечень жизненно необходимых и важнейших лекарственных препаратов для
      | медицинского применения на 2019 год, утвержденный распоряжением
      | Правительства Российской Федерации от 12 октября 2019 года N 2406-р
    p
      | - Минимальный ассортимент лекарственных препаратов, необходимых для
      | оказания медицинской помощи, утвержденный распоряжением Правительства
      | Российской Федерации от 12 октября 2019 года N 2406-р
    p
      | - ПП РФ от 29 октября 2010 года N 865 ”0 государственном регулировании цен
      | на лекарственные препараты, включенные в перечень жизненно необходимых и
      | важнейших лекарственных препаратов”
    p
      | - Постановление администрации Курской области от 27.08.2010 г. № 377-па
      | «Об установлении предельных оптовых и предельно розничных надбавок к
      | фактически отпускным ценам, установленным производителями лек. препаратов,
      | на лекпрепараты, включенные в Перечень ЖВНЛС, реализуемых на территории
      | Курской области»;
    p - Федеральный закон N 2300-1 «О защите прав потребителя»;
    p
      | - ПП РФ от 31.12.2020 г. N 2463 ”Об утверждении Правил продажи товаров по
      | договору розничной купли-продажи, перечня товаров длительного пользования,
      | на которые не распространяется требование потребителя о безвозмездном
      | предоставлении ему товара, обладающего этими же основными потребительскими
      | свойствами, на период ремонта или замены такого товара, и перечня
      | непродовольственных товаров надлежащего качества, не подлежащих обмену, а
      | также о внесении изменений в некоторые акты Правительства Российской
      | Федерации”;
    p
      | - ИНФОРМАЦИЯ О ПРЕДЕЛЬНЫХ РОЗНИЧНЫХ ЦЕНАХ НА ЛЕКАРСТВЕННЫЕ ПРЕПАРАТЫ,
      | ВКЛЮЧЕННЫЕ В ПЕРЕЧЕНЬ ЖНВЛ П, ПО СОСТОЯНИЮ НА ТЕКУЩИЙ МОМЕНТ
    p 
      a(href="https://zakupki.gov.ru/223/plan/public/plan/info/actual-documents.html?planId=655067&planInfoId=4694384&versioned=&activeTab=1&epz=true&style44=false", target="_blank", rel="noopener noreferrer") 
        | - План закупки товаров, работ услуг
    p 
      a(href="https://zakupki.gov.ru/223/clause/public/order-clause/info/common-info.html?clauseInfoId=521287&clauseId=6173", target="_blank", rel="noopener noreferrer") 
        | - Положение о закупке