extends ../layout

block main 
  .slider
    img(src="#", alt="")
    .slider__text
      .container
        div Изготовление 
          span лекарств
        div по индивидуальному рецепту
  .company-contacts
    ul.company-contacts__list 
      li 
        .company-contacts__phones
          a(href="tel:+74712526586") 
            img(src="#", alt="")
            span (4712) 52-65-86
        div Справочная служба о наличии и стоимости лекарств
        div пн-пт: 08.00 - 20.00
        div сб,вс: 10.00 - 18.00
      li 
        .company-contacts__phones
          a(href="tel:+74712526586") 
            img(src="#", alt="")
            span 8 (4712) 515-515
        div горячая линия
        div ежедневно с 8.00-20.00
      li 
        .company-contacts__phones
          a(href="tel:+74712526586") 
            img(src="#", alt="")
            span 8 (4712) 50-60-50
        div горячая линияпо отпуску
        div льготных лекарсвенных препаратов
  section.about 
    .banner-block
      .container
        .banner-block__text
          h2 О компании
          p Ведущая аптечная сеть региона ОАО &laquo;Курская фармация&raquo;, которая фактически является наследником и продолжателем традиций Курского аптечного управления, заботится о здоровье жителей региона, предлагая большое разнообразие лекарственных препаратов и медицинских товаров аптечного ассортимента по выгодным ценам оптом и в розницу.
          p Предприятие объединяет 35 аптек, оптовый склад, 32 мелкорозничных аптечных пункта и является надежным поставщиком лекарственных средств по ряду федеральных целевых программ в сфере здравоохранения. При этом контрольный пакет акций находится в руках государства, а именно - комитета по управлению имуществом Курской области.
    .contaiter 
      .organization
        h2 Структура компании
        .organization__cheme  
    .section__promo
      .container
        p Аптечные учреждения ОАО &laquo;Курская фармация&raquo; одни из немногих в Курске и области занимаются изготовлением лекарственных форм по индивидуальным рецептам и требованим лечебно-профилактических учреждений. Кроме того, компания обеспечивает лекарствами около 400 фельдшерско-акушерских путнктов по всему региону.
        p &laquo;Курская фармация&raquo; - фармацевтическое предприятие в области, гарантирующее качество реализуемых препаратов. Мы несем отвественность за здоровье своих клиентов и предлагаем исключительно проверенные лекарственные средства. Предлагаемые нами медикаменты проходят контроль, что подтверждается заключением о качестве Центра сертификации.
  section.advantages 
    .container 
      h2 Преимущества аптечной сети &laquo;Курская фармация&raquo;
      -
        var advantages = [
          {text:"Широкая география присутствия", img:"advantage_01"},
          {text:"Шаговая доступность для потребителей", img:"advantage_02"},
          {text:"Наличие производственных аптек", img:"advantage_03"},
          {text:"Отпуск медикаментов льготным категориям граждан по бесплатным рецептам", img:"advantage_04"},
          {text:"Подтвержденное качество лекарсвенных средств", img:"advantage_05"},
          {text:"Традиционно высокий уровень сервиса", img:"advantage_06"},
          {text:"Накопительная система скидок", img:"advantage_07"},
          {text:"Акции по продаже лекарсвенных средств со скидками", img:"advantage_08"},
          {text:"Наличие единой информационной системы аптечной сети", img:"advantage_09"},
          {text:"Доставка лекарств на дом", img:"advantage_10"}
        ];
      ul.advantages__list 
        each advantage, index in advantages
          li.advantages__item.advantage 
            .advantage__num #{index+1}
            .advantage__logo 
              img(src=`/website/img/${advantage.img}.jpg`, alt=`${advantage.text}`)
            .advantage__title #{advantage.text}
    .banner-block
      .container 
        .banner-block__text
          p Аптечная сеть ОАО &laquo;Курская фармация&raquo; - проверенное качество медикаментов, устоявшиеся традиции аптечного дела, широкий ассортимент лекарсвенных средств и медицинских изделий, высококвалифицированные специалисты. Оцените достоинства сотрудничества с ОАО &laquo;Курская фармация&raquo;.
          h2 Мы заботимся о вашем здоровье, предлагая только проверенные лекарства!
  .documents 
    h2 Документы
    ul.documents__list 
      li 
        img(src="#", alt="")
        a(href="#") Лицензия на осуществление фармацевтической деятельности аптеки от 26.05.2017
      li 
        img(src="#", alt="")
        a(href="#") Лицензия на осуществление фармацевтической деятельности аптеки от 19.02.2013