extends ../layout

block head 
  title Льготное лекарсвенное обеспечение

block main
  main.main
    .slide_top
      img(src="/website/img/provision__slide.jpg" alt="")
    section.provision
      .container
        ul.breadcrumbs
          li
            a(href='/') Главная
            |  /
          li
            a(href='#') О компании
            |  /
          li
            span Льготное лекарсвенное обеспечение
        h1.section__title Льготное лекарсвенное обеспечение
        .section__text-block.provision__info
          p ОАО &laquo;Курская фармация&raquo; в рамках государственного задания, оказывает услуги по бесперебойному лекарственному обеспечению населения города Курска, прежде всего отдельных категорий граждан, имеющих право на получение государственной социальной помощи, лекарственными препаратами, медицинскими изделиями, специализированными продуктами лечебного питания.
      .section__block-bg
        .container 
          h2.section__subtitle В рамках выполнения поставленной цели, учреждение осуществляет лекарсвенное обеспечение по направлениям:
          .provision__way-roster
            ul.section__roster.section__roster--bold
              li 7 высокозатратных нозологий (злокачественные новообразования лимфоидной, кроветворной и родственных им тканей, гемофилия, мусковисцидоз, гипофизарный нанизм, болезнь Гоше, рассеяный склероз, а также после трансплантации органов и (или) тканей);
              li СПИД;
              li Мухополисахаридоз;
              li Хронический гепатит;
              li Хроническая почечная недостаточность;
              li Онкологические заболевания;
              li Психиатрия;
              li Ревматология;
              li Стома;
              li Неврология;
              li Аллергология - имуннология;
              li Неспецифический язвенный колит и Болезнь Крона;
              li Системные хронические заболевания кожи;
              li Обеспечение беременных женщин дорогостоящими лекарственными препаратами;
              li Орфанные заболевания.
      .provision__decrees 
        .container 
          h2.section__subtitle Обеспечение лекарственными препаратами и изделиями медицинского назначения производится на основании приказов:
          ul.section__roster.provision__decrees-roster
            li Министерства здравоохранения РФ от 11 июля 2017г. N 403н "Об утверждении правил отпуска лекарственных препаратов для медицинского применения, в том числе иммунобиологических лекарственных препаратов, аптечными организациями, индивидуальными предпринимателями, имеющими лицензию на фармацевтическую деятельность".
            li Департамента здравоохранения города Москвы от 29.04.2016 №376 "Об утверждении перечней аптечных организаций, имеющих право на отпуск лекарственных препаратов и изделий медицинского назначения по рецептам врачей бесплатно или с 50 - процентной скидкой в городе Москве" (в редакции приказа Департамента здравоохранения города Москвы от 17.03.2017 №186 "О внесении изменений в приказ Департамента здравоохранения города Москвы 29.04.2016 №376")
          .section__text-block
            p Все аптечные подразделения сети «Курская фармация» — участники программы обеспечения необходимыми лекарственными препаратами граждан, имеющих право на получение государственной социальной помощи.
            p В аптечных подразделениях работают высококвалифицированные специалисты, имеющие дипломы о высшем и среднем фармацевтическом образовании, и сертификаты специалистов по соответствующим фармацевтическим специальностям. Более 50% специалистов имеют высшую или первую квалификационную категорию.
            p ОАО «Курская фармация» сохраняет традиции изготовления лекарственных препаратов по индивидуальным прописям врачей. В современном мире данная услуга очень актуальна, учитывая, что при аптечном изготовлении максимально используются натуральные ингредиенты, а лекарственные препараты, не содержат консервантов и добавок. Это особенно ценно для тех, кто следит за своим здоровьем. Главное преимущество аптечного изготовления заключается в индивидуальном подходе к пациенту с учетом его возраста и переносимости тех или иных веществ, наличия аллергических реакций и других неблагоприятных факторов.
            p В сети аптек учреждения всегда представлен широкий ассортимент внутриаптечной заготовки экстемпоральных лекарственных препаратов (растворы для наружного и внутреннего применения, мази, капли, крема и др.).