extends ../layout

block head 
  title Изготовление лекарств

block main
  main.main
    .slide_top
      img(src="/website/img/manufacture__slide.jpg" alt="")
    section.manufacture
      .container
        ul.breadcrumbs
          li
            a(href='/') Главная
            |  /
          li
            span Изготовление лекарств
        h1.section__title Изготовление лекарств
        .section__text-block.manufacture__info
          p На сегодняшний день фармацевтические предприятия производят медикаменты для детей и взрослых в промышленных масштабах. В современных аптеках можно приобрести препараты, позволяющие избавиться от любых заболеваний, поддержать организм в тонусе, а также осуществить профилактику всевозможных недугов.
          p Несмотря на изобилие лекарственных средств, нередко возникает необходимость в препарате, изготовленном по индивидуальному рецепту. Такие медикаменты создаются с учетом возраста пациента, характера протекания его заболеваний, индивидуальной непереносимости компонентов и многих других факторов. Лечащий врач сам выписывает рецепт препарата, подбирая наиболее эффективную формулу для каждого конкретного случая.
      .section__block-bg
        .container
          .manufacture__particular
            h2.section__subtitle
              | Когда требуется изготовить лекарство
              br
              | по индивидуальному рецепту:
            .manufacture__roster
              ul.section__roster.section__roster--bold
                li Имеется непереносимость к компонентам препаратов, изготовленных промышленным способом;
                li Аналоги не изготавливаются промышленным способом;
                li Требуется лекарственный препарат в индивидуальной дозировке, в том числе в детской дозировке.
            .section__text-block 
              p В аптечную сеть ОАО «Курская фармация» входят четыре производственные аптеки.
              p Данные филиалы располагают необходимой производственной базой, позволяющей изготавливать лекарственные средства по рецептам врачей и требованиям медицинских организаций. Эти аптеки имеют лицензии на изготовление лекарственных средств для медицинского применения, стерильных лекарственных форм и лекарственных форм, изготовленных в асептических условиях.
              p Внутриаптечным изготовлением лекарств в наших филиалах занимаются высококвалифицированные провизоры-технологи, химики-аналитики и фармацевты, которые несут ответственность за правильность изготовления лекарств и их качество.
      .manufacture__pharmacy
        .container 
          h2.section__subtitle.manufacture__subtitle
            | Заказать лекарства по индивидуальному рецепту 
            br
            | можно по следующим адресам:
          ul.pharmacy_list
            li
              a.pharmacy_list__name(href='') Филиал-аптека №6
              p.pharmacy_list__adr г. Курск, ул.Павлуновского, д.5
              .pharmacy_list__time-wrap
                p.pharmacy_list__time
                  | понедельник-пятница
                  br
                  | 8.00-20.00
                  br
                  | суббота 10.00-19.00
                  br
                  | воскресенье-выходной
              .pharmacy_list__tel
                a(href='tel:701191') 54-86-70
                a(href='tel:84713221455') 52-83-79
            li
              a.pharmacy_list__name(href='') Филиал-аптека №122
              p.pharmacy_list__adr г. Курск, ул. К.Маркса, д. 65а
              .pharmacy_list__time-wrap
                p.pharmacy_list__time круглосуточно
              .pharmacy_list__tel
                a(href='tel:701191') 53-00-25
            li
              a.pharmacy_list__name(href='') Филиал-аптека №124
              p.pharmacy_list__adr г. Курск, ул. Институтская, д. 46
              .pharmacy_list__time-wrap
                p.pharmacy_list__time
                  | понедельник-пятница
                  br
                  | 8.00-20.00
                  br
                  | суббота, воскресенье
                  br
                  |  10.00-18.00
              .pharmacy_list__tel
                a(href='tel:701191') 53-23-07
                a(href='tel:84713221455') 50-08-23
            li
              a.pharmacy_list__name(href='') Филиал-аптека №145
              p.pharmacy_list__adr г. Курск, 2-й Промышленный пер. д13
              .pharmacy_list__time-wrap
                p.pharmacy_list__time
                  | понедельник-пянтица
                  br
                  | 8.00-18.00
                  br
                  | суббота 8.00-15.00
                  br
                  | выходной-воскресенье
              .pharmacy_list__tel
                a(href='tel:84713221455') 2-27-44