extends ../layout

block head 
  title Новость

block main 
  main.main
    .container
        ul.breadcrumbs
          li
            a(href='/') Главная
            |  /
          li
            a(href='/') Новости
            |  /
          li
            span Sanofi откроет производство фармингридиентов для снижения зависимости от Индии и Китая
    section.news-item
      .bg-top 
        img(src="/website/img/news-item_bg.jpg" alt="")
      .container
        .news-item__header 
          time(datetime="2021-01-14") 14/01.2021
          h2.section__title.news-item__title Sanofi откроет производство фармингридиентов для снижения зависимости от Индии и Китая
        .news-item__content
          .section__text-block 
            p Французская фармацевтическая компания Sanofi объявила о создании бизнеса по производству фармацевтических ингредиентов, который будет называться EUROAPI. Sanofi заявила на своем сайте, что примет решение о листинге компании к следующему году.
            p Компания сообщает, что бизнес должен обеспечивать биологически активные компоненты для лекарств и будет базироваться на шести производственных площадках в Италии, Германии, Великобритании, Франции и Венгрии.
            p Генеральным директором компании EUROAPI станет Карл Роттьер, бывший генеральный директор голландской компании Centrient Pharmaceuticals, сообщается на сайте Sanofi.
            p EUROAPI будет обладать значительными конкурентными преимуществами, включая широкий портфель из 200 API (активных фармацевтических ингредиентов) с массовыми и нишевыми продуктами, высокими стандартами качества и промышленными средствами, конкурентоспособными ценами и технологиями по всей Европе, отмечает Sanofi. Бизнес также будет использовать обширную коммерческую сеть, охватывающую более 80 стран.
            p Фармацевтический сектор Европы в значительной степени зависит от сырья и активных ингредиентов из Азии, добавляет Reuters. Он закупает продукцию у компаний, расположенных в основном в Китае и Индии, что порождает зависимость, которая была выявлена в ходе некоторых перебоев в поставках из-за пандемии COVID-19.
            p В январе также стало известно, что Sanofi приобрела разработчика иммунотерапевтических препаратов Kymab. Сумма сделки составит 1,4 млрд долл., из которых 1,1 млрд Sanofi выплатит авансом.
          .news-item__controls
            a.news-item__back(href="") 
              object(type="image/svg+xml" data="/website/img/icons/right-arrow.svg")
              span Вернуться назад 
    
    