extends ../layout

block main
  .section__top
    img(src="website/img/about__slide.jpg", alt="")
  section.delivery
    .container
      ul.breadcrumbs
        li
          a(href='/') Главная
          |  /
        li
          span Правила доставки
      h1.section__title.section__title-center Правила доставки
      .delivery__desc 
        //- p Аптечная сеть ОАО «Курская фармация» предоставляет населению и лечебным учреждениям области широкий перечень фармацевтических услуг. Филиалы и аптечные пункты компании открыты во всех микрорайонах Курска, а также в густонаселенных уголках региона, благодаря чему доступны большому количеству покупателей.
        //- p Основополагающий вид деятельности компании – оптовая и розничная реализация лекарственных средств, изделий медицинского назначения и других товаров аптечного ассортимента. Наше предприятие сотрудничает с отечественными и зарубежными производителями медикаментов, поставляя на фармацевтический рынок Курска десятки тысяч препаратов – от самых востребованных до редких и дорогостоящих.
        //- p Помимо главной функции поставщика лекарственных препаратов населению ОАО «Курская фармация» оказывает ряд информационно-консультационных, фармацевтических и социально значимых услуг. Мы имеем лицензии на все виды и услуги фармацевтической деятельности.
    .section__row-bg
      .container 
        h2.about__title Оплата и получение заказа        
    .delivery__info 
      .container 
        p 
        