extends ../layout

block head 
  title Заказ оформлен

block main
  main.main
    .order-done
      .order-done__inner 
        div 
          | Заказ №
          span 54854
          br
          | оформлен

