extends ../layout

block head 
  title Личный кабинет | Обратная связь

block main
  main.main.main--flex
    .container
      ul.breadcrumbs
        li
          a(href='/') Главная
          |  /
        li
          span Личный кабинет
    .personal
      header.personal__header
        .container.personal__container
          h1.section__title Личный кабинет
          ul.personal__list 
            li.personal__item
              a(href="#").personal__link
                .personal__img 
                  svg 
                    use(xlink:href="/website/img/icons/p-sprite.svg#user") 
                .personal__text Профиль
            li.personal__item
              a(href="#").personal__link
                .personal__img 
                  svg 
                    use(xlink:href="/website/img/icons/p-sprite.svg#shopping-cart") 
                .personal__text Товары
            li.personal__item
              a(href="#").personal__link
                .personal__img 
                  svg 
                    use(xlink:href="/website/img/icons/p-sprite.svg#file") 
                .personal__text История заказов
            li.personal__item.is-active
              a(href="#").personal__link
                .personal__img 
                  svg 
                    use(xlink:href="/website/img/icons/p-sprite.svg#email") 
                .personal__text Обратная связь
            li.personal__item
              a(href="#").personal__link
                .personal__img
                  svg 
                    use(xlink:href="/website/img/icons/p-sprite.svg#log-out")
                .personal__text Выйти
      section.feedback
        .container.personal__container
          form
            .feedback__form
              .feedback__form-body
                .feedback__form-row 
                  .feedback__entries                  
                      input(type="text" name="name" placeholder="Ваше имя").form__entry.feedback__input
                      input(type="email" name="email" placeholder="Ваш email или телефон").form__entry.feedback__input
                  .feedback__text
                    textarea(name="text" placeholder="Текст сообщения").form__entry.feedback__textarea
                .personal__agreement.feedback__agreement
                  input(type="checkbox").personal__checkbox
                  div
                    span Вы соглашаетесь с 
                    a(href="#") Политикой о защите персональных данных 
                    span при хранении Ваших данных
              .feedback__form-controls 
                .feedback__recapcha
                .feedback__button 
                  button(type="submit").button.button--medium Отправить
