extends ../layout

block head 
  title Личный кабинет | Выйти

block main
  main.main
    .container
      ul.breadcrumbs
        li
          a(href='/') Главная
          |  /
        li
          span Личный кабинет
    .personal
      header.personal__header
        .container.personal__container
          h1.section__title Личный кабинет
          ul.personal__list 
            li.personal__item
              a(href="#").personal__link
                .personal__img 
                  svg 
                    use(xlink:href="/website/img/icons/p-sprite.svg#user") 
                .personal__text Профиль
            li.personal__item
              a(href="#").personal__link
                .personal__img 
                  svg 
                    use(xlink:href="/website/img/icons/p-sprite.svg#shopping-cart") 
                .personal__text Товары
            li.personal__item
              a(href="#").personal__link
                .personal__img 
                  svg 
                    use(xlink:href="/website/img/icons/p-sprite.svg#file") 
                .personal__text История заказов
            li.personal__item
              a(href="#").personal__link
                .personal__img 
                  svg 
                    use(xlink:href="/website/img/icons/p-sprite.svg#email") 
                .personal__text Обратная связь
            li.personal__item.is-active
              a(href="#").personal__link
                .personal__img
                  svg 
                    use(xlink:href="/website/img/icons/p-sprite.svg#log-out")
                .personal__text Выйти
      section.logout
        .container
          .logout__content
            .logout__graph 
            .logout__title Вы действительно хотите выйти?
          .logout__buttons
            a(href="").button.button--red Выйти
            a(href="").button Отменить
