extends ../layout

block head 
  title Вакансии

block main
  main.main
    section.container.vacancy
      ul.breadcrumbs
        li
          a(href='/') Главная
          |  /
        li
          a(href='#') О компании
          |  /
        li
          span Вакансии
      h1 Вакансии
      .vacancy_contacts
        p.vacancy_contacts__title Отдел кадров
        .vacancy_contacts__text.management_item
          p.management_item__name
            small Контактное лицо:
            |  Иванов Иван Иванович
          p.management_item__tel
            | Телефон приёмной: 
            a(href='tel:+74712526586') (4712) 52-65-86
          p.management_item__mail
            | E-mail: 
            a(href='mailto:kurskfarm@inbox.ru') kurskfarm@inbox.ru
      .vacancy_item
        p.vacancy_item__name Провизор, фармацевт в аптечный пункт
        p.vacancy_item__bold.vacancy_item__salary
          | (п. Черемисиново, Дмитриев, п. Пристень, п. Мантурово, г. Обоянь, п. Глушково, п. Большое Солдатское, п. Коренево, п. Медвенка, п. Золотухино)
        p.vacancy_item__bold.vacancy_item__salary з/п: по результатам собеседования
        p.vacancy_item__bold Обязанности:
        p
          | Своевременное, профессиональное, качественное обслуживание населения в части: - отпуска лекарственных препаратов и медицинских изделий бесплатно или со скидкой отдельным категориям граждан, имеющим право на получение государственной социальной помощи
          br
          | - реализации населению лекарственных препаратов, медицинских изделий, парафармацевтической продукции и иного аптечного ассортимента, разрешенного к отпуску из аптеки
          br
          | - участие в приемке товара и распределении его по местам хранения;
          br
          | - контроль сроков годности и ведение документации;
          br
          | - соблюдение стандартов деятельности провизоров (фармацевтов) аптечной сети.
        p.vacancy_item__bold Требования:
        p
          | - наличие диплома и сертификата провизора или фармацевта;
          br
          | - наличие медицинской книжки;
          br
          | - коммуникабельность, дисциплинированность;
          br
          | - умение работать в коллективе, желание повышать свои профессиональные навыки.
      .vacancy_item
        p.vacancy_item__name Специалист по охране труда
        p.vacancy_item__bold.vacancy_item__salary з/п: по результатам собеседования
        p.vacancy_item__bold Обязанности:
        p
          | - Контроль функционирования системы управления охраной труда в организации
          br
          | - Проведение вводного инструктажа по охране труда для работников
          br
          | - Контроль проведения инструктажей на рабочем месте
          br
          | - Организация и контроль своевременного обучения работников по охране труда;
          br
          | - Организация обучения руководителей и специалистов, ответственных должностных лиц в специализированных организациях по охране труда, пожарной безопасности, электробезопасности, промышленной безопасности
          br
          | - Разработка проектов локальных нормативных актов по охране труда (положения, инструкции, программы обучения, инструктажа, стажировки и др.) и ознакомление с ними работников
          br
          | - Контроль за соблюдением действующего законодательства, правил и норм по охране труда
          br
          | - Участие в расследовании несчастных случаев на производстве и разработке мер по их предотвращению
          br
          | - Организация и контроль своевременного прохождения работниками обязательных медицинских осмотров
          br
          | - Организация, участие в проведении, документарное сопровождение специальной оценки условий труда (СОУТ) на рабочих местах
          br
          | - Контроль исполнения предписаний надзорных, контролирующих органов;
          br
          | - Планирование и составление отчетности
        p.vacancy_item__bold Требования:
        p
          | - Высшее образование по направлению подготовки "Техносферная безопасность" или соответствующим ему направлениям по обеспечению безопасности производственной деятельности («Безопасность жизнедеятельности в техносфере», «Безопасность технологических процессов и производств»). Либо высшее образование и профессиональная переподготовка в области охраны труда. Либо среднее профессиональное образование и профессиональная переподготовка в области охраны труда
          br
          | - Уверенный пользователь МS Оffiсе (Word, Ехсе1, Оutlоок)
          br
          | - Опыт работы в области охраны труда от 3 лет
          br
          | - Знание законодательных и нормативно правовых актов, методических материалов по вопросам охраны труда
          br
          | - Ответственность, самостоятельность
      .vacancy_item
        p.vacancy_item__name Фармацевт-оператор / провизор - оператор в колл - центр
        p.vacancy_item__bold.vacancy_item__salary з/п: по результатам собеседования
        p.vacancy_item__bold Обязанности:
        p
          | - Прием входящих звонков.
          br
          | - Предоставление информации абоненту по поиску лекарств
          br
          | - Поиск и предложение оптимальных решений абоненту, в связи с возникшим вопросом.
          br
          | - Проведение обзвонов клиентов с целью сообщения информации
        p.vacancy_item__bold Требования:
        p
          | - высшее/среднее профессионально фармацевтическое образование
          br
          | - наличие сертификата;
          br
          | - наличие медицинской книжки
