.container.footer.row
  a.logo(href='/')
    img(src='./website/img/f_logo.png' alt='')
  p.mtop.footer__adr
    | ОАО курская фармация
    br
    |                 305040, г.Курск, ул. 50 лет Октября, 122, лит. Б.
    br
    a.footer__map(href='') схема проезда
  p.mtop.footer__mail
    | e-mail: 
    a(href='mailto:kurskfarm@inbox.ru') kurskfarm@inbox.ru
  .mtop.footer__tel
    p
      | Тел. 
      a(href='tel:+74712526586') (4712) 52-65-86
    p
      span
        a(href='tel:+74712515515')
          | 8 (4712) 
          b 515-515
        |                             горячая линия (ежедневно с 8:00-20:00)
      span
        a(href='tel:+74712506050')
          | 8 (4712) 
          b 50-60-50
        |                             горячая линия по отпуску льготных лекарственных препаратов
.copy
  .container.row
    p © 2016-2020 ОАО Курская фармация. Все права защищены.
    a.vorle(href='https://sait-region.ru/' target='_blank' rel='nofollow noopener noreferrer') Разработка и поддержка сайта - ООО «Регион центр»