nav.nav
  .container
    ul.nav__list
      li.nav__item.active
        a.nav__link(href='' title='') Главная
      li.nav__item
        a.nav__link(href='' title='') О компании
        ul.nav__dropdown
          li.nav__dropdown-item
            a(href='') Декоративные ограждения
          li.nav__dropdown-item.active
            a(href='') Полив
            ul
              li
                a(href='') Лейки садовые
              li
                a(href='') Шланги поливочные
              li
                a(href='') Разбрызгиватели
          li.nav__dropdown-item
            a(href='') Инструмент для обработки почвы
            ul
              li
                a(href='') Культиваторы
              li
                a(href='') Лопаты
              li
                a(href='') Мотыжки
              li
                a(href='') Рыхлители, секаторы 
          li.nav__dropdown-item
            a(href='') Садовый инвентарь
            ul
              li
                a(href='') Бочки, канистры
              li
                a(href='') Грабли, метла 
              li
                a(href='') Тачки, сумки- тележки
          li.nav__dropdown-item
            a(href='') Растениеводство
            ul
              li
                a(href='') Парники
              li
                a(href='') Грунт
              li
                a(href='') Средства защиты растений
              li
                a(href='') Средства от грызунов и кротов
              li
                a(href='') Средства от летающих насекомых
              li
                a(href='') Ящики для рассады , кашпо
      li.nav__item
        a.nav__link(href='' title='') Аптеки
      li.nav__item
        a.nav__link(href='' title='') Каталог товаров
      li.nav__item
        a.nav__link(href='' title='') Изготовление лекарств
      li.nav__item
        a.nav__link(href='' title='') Оплата и доставка
      li.nav__item
        a.nav__link(href='' title='') Документы
      li.nav__item
        a.nav__link(href='' title='') Новости
      li.nav__item
        a.nav__link(href='' title='') Отзывы
      li.nav__item
        a.nav__link(href='' title='') Контакты
