nav
  ul.container
    li.active
      a(href='' title='') Главная
    li
      a(href='' title='') О компании
      ul
        li
          a(href='') О компании
        li.active
          a(href='') Руководство
        li
          a(href='') Вакансии
        li
          a(href='') Изготовление лекарств
        li
          a(href='') Аптечная сеть
    li
      a(href='' title='') Аптеки
    li
      a(href='' title='') Каталог товаров
    li
      a(href='' title='') Изготовление лекарств
    li
      a(href='' title='') Оплата и доставка
    li
      a(href='' title='') Документы
    li
      a(href='' title='') Новости
    li
      a(href='' title='') Отзывы
    li
      a(href='' title='') Контакты
