nav
  ul.container
    li.active
      a(href='/' title='') Главная
    li
      a(href='./about.html' title='') О компании
      ul
        li
          a(href='./about.html') О компании
        li.active
          a(href='#') Руководство
        li
          a(href='#') Вакансии
        li
          a(href='#') Вопрос-ответ
        li
          a(href='./lgotnoe_lekarstv_obespechie.html') Льготное лекарственное обеспечение
        li
          a(href='./aptechnaya_set.html') Аптечная сеть
    li
      a(href='./apteki.html' title='') Аптеки
    li
      a(href='./catalog_item.html' title='') Каталог товаров
    li
      a(href='./manufacture.html' title='') Изготовление лекарств
    li
      a(href='./delivery.html' title='') Оплата и доставка
    li
      a(href='#' title='') Документы
    li
      a(href='#' title='') Новости
    li
      a(href='#' title='') Отзывы
    li
      a(href='#' title='') Контакты
