nav
  ul.container
    li.active
      a(href='' title='') Главная
    li
      a(href='' title='') О компании
      ul
        li
          a(href='') Декоративные ограждения
        li.active
          a(href='') Полив
          ul
            li
              a(href='') Лейки садовые
            li
              a(href='') Шланги поливочные
            li
              a(href='') Разбрызгиватели
        li
          a(href='') Инструмент для обработки почвы
          ul
            li
              a(href='') Культиваторы
            li
              a(href='') Лопаты
            li
              a(href='') Мотыжки
            li
              a(href='') Рыхлители, секаторы 
        li
          a(href='') Садовый инвентарь
          ul
            li
              a(href='') Бочки, канистры
            li
              a(href='') Грабли, метла 
            li
              a(href='') Тачки, сумки- тележки
        li
          a(href='') Растениеводство
          ul
            li
              a(href='') Парники
            li
              a(href='') Грунт
            li
              a(href='') Средства защиты растений
            li
              a(href='') Средства от грызунов и кротов
            li
              a(href='') Средства от летающих насекомых
            li
              a(href='') Ящики для рассады , кашпо
    li
      a(href='' title='') Аптеки
    li
      a(href='' title='') Каталог товаров
    li
      a(href='' title='') Изготовление лекарств
    li
      a(href='' title='') Оплата и доставка
    li
      a(href='' title='') Документы
    li
      a(href='' title='') Новости
    li
      a(href='' title='') Отзывы
    li
      a(href='' title='') Контакты
