p.region_choose__header Выбрать аптеку
  .row
    .region_choose__list
      b г. Курск
      ul
        li г. Курск, ул. Радищева, д. 3/15
        li г. Курск, ул. Интернациональная, 79
        li г. Курск ул. Союная,30 (МУЗ «Горбольница №6»)
        li г. Курск, ул. Павлуновского, д.5
        li г. Курск, ул. Дзержинского, д.81
        li г. Курск, ул. Чумаковская, д. 10
        li г. Курск, ул. Серегина, д. 29 
        li г. Курск, ул. Энгельса, д. 26/28 
        li
          | г. Курск, ул. Энгельса, д. 10-в
          | (женская консультация)
        li г. Курск, ул. Пирогова, д. 14 
        li г. Курск, ул. Пирогова, д. 14 
        li г. Курск, ул. Дейнеки, д.38 
        li г. Курск, ул.К.Маркса, д. 65а
        li г. Курск, ул. Институтская, д. 46 
        li г. Курск, ул. 50 лет Октября, д. 13
        li г. Курск, 2-й Промышленный пер. д.13
        li
          | г. Курск, 2-й Промышленный пер.д. 13
          | (поликлиника МУЗ ГБ №4)
        li г. Курск, пр-кт Дружбы, д. 4 
        li г. Курск, ул. Запольная, д.43-а гор. пол.№5 (3-этаж) 
        li г. Курск, ул. Запольная, д. 43-а гор.пол-ка. №5 (4-этаж) 
        li г. Курск, ул.Косухина, д. 37-а
    .region_choose__list
      b Курская обл.
      ul
        li Курская область, Курский район, Рышковский с\с, х. Кислино, ул. Елисеева, д.1
        li Курская обл., Курский р-он, п. Искра, (Областная психоневрологическая больница)
        li Курская обл., Курский р-он, пос. Камыши
        li Курская обл., Беловский р-он, сл.Белая, Советская площадь, д.40     
        li Курская обл., Беловский р-он, п.Коммунар, ул. Строителей, д. 1-а 
        li Курская область, Курский район, Рышковский с\с, х. Кислино, ул. Елисеева, д.1
        li Курская обл., Курский р-он, п. Искра, (Областная психоневрологическая больница)
        li Курская обл., Курский р-он, пос. Камыши
        li Курская обл., Беловский р-он, сл.Белая, Советская площадь, д.40     
        li Курская обл., Беловский р-он, п.Коммунар, ул. Строителей, д. 1-а 
        li Курская область, Курский район, Рышковский с\с, х. Кислино, ул. Елисеева, д.1
        li Курская обл., Курский р-он, п. Искра, (Областная психоневрологическая больница)
        li Курская обл., Курский р-он, пос. Камыши
        li Курская обл., Беловский р-он, сл.Белая, Советская площадь, д.40     
        li Курская обл., Беловский р-он, п.Коммунар, ул. Строителей, д. 1-а 