.about__title {
  padding: 0 30px;
  line-height: 1;
  margin-bottom: 40px;
}
.about__desc {
  margin-bottom: 60px;

  & p {
    line-height: 1.5;
    margin-bottom: 10px;
  }  
}

.about__subtitle {
  font-family: "Roboto Medium", "Arial", sans-serif;
  margin-bottom: 5px;
}

.about__info {
  padding: 60px 0 0 0;

  & p {
    margin-bottom: 20px;
  }
  & ul {
    margin-bottom: 15px;
  }

  & li {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}