.auth {
  padding-bottom: 70px;
}

.auth__title {
  font-size: 40px;
  padding: 5px 0 20px 0;
  
  &--left {
    text-align: left;
  }
}

.auth__block {
  width: 90%;
  max-width: 780px;
  margin: 0 auto;
}

.auth__switches {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.auth__switch {
  flex: 0 1 250px;
  line-height: 1;
  padding: 20px;
  font-size: 22px;
  font-family: $normal;
  background: $gray;
  color: #b6b6b6;
  text-align: center;
  margin-right: 20px;
  transition: background 0.2s ease;
  &:last-child {
    margin-right: 0;
  }
  &.is-active,
  &:hover {
    transition: background 0.4s ease;
    background: $green;
    color: #fff;
  }
}

.auth__form {
  padding: 50px;
  background: $gray;
}

.auth__form-row {
  max-width: 330px;
  margin: 0 auto 20px auto;
}

.auth__form-remind {
  font-size: 13px;
  text-align: center;
  display: block;
  color: $green;
  text-decoration: underline;
}

.auth__desc {
  text-align: center;
  margin: 0 auto 25px auto;
  max-width: 450px;
  font-size: 15px;
}

.auth__desc-title {
  font-family: $med;
  margin-bottom: 10px;
  line-height: 1;
}
