.catalog__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 30px;
  padding: 20px 0 60px 0;

  @include big {
    grid-template-columns: repeat(3, 1fr);
  }
  @include tablets {
    grid-template-columns: repeat(2, 1fr);
  }
  @include phones {
    grid-template-columns: 1fr;
  }
}
