.certify {
  padding-bottom: 60px;
}

.certify__documents {
  padding: 10px 0;
  margin-bottom: 30px;
}

.certify__docs-list {
  display: flex;

  @include tablets {
    flex-direction: column;
  }
}

.certify__docs-item {
  flex: 1;
  line-height: 1.5;
  font-family: "Roboto", "Arial" sans-serif;
  max-width: 500px;

  @include tablets {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  & a {
    display: flex;    
    height: 100%;
  }
  & object {
    max-width: 32px;
  }
  & span {
    text-decoration: underline;
    padding: 0 25px;
  }
}
