.company-contacts__list {
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0;

  @include tablets {
    flex-direction: column;
  }
}

.company-contacts__item {
  text-align: center;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }

  @include laptop {
    margin-right: 0;
    width: 30%;
  }

  @include tablets {
    width: auto;
    margin-bottom: 20px;
  }
}

.company-contacts__phones {
  color: $red;
  &--green {
    color: $green;
  }
}

.company-contacts__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3px;

  & svg {
    width: 40px;
  }

  & span {
    display: inline-block;
    font-size: 18px;
    margin-left: 10px;
    font-family: "Roboto Bold", "Arial", sans-serif;
  }
}

.company-contacts__text {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  @include tablets {
    margin-bottom: 5px;
  }
}
