.company-contacts__list {
  display: flex;
  justify-content: space-evenly;
  padding: 45px 0;
}

.company-contacts__item {
  text-align: center;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.company-contacts__phones {
  color: $red;
  &--green {
    color: $green;
  }
}

.company-contacts__link {
  display: flex;
  justify-content: center;
  align-items: center;

  & span {
    display: inline-block;
    font-size: 18px;
    margin-left: 10px;
    font-weight: bold;
  }
}

.company-contacts__text {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}