.delivery-rules__title {
  padding: 0 0 15px 0;
  line-height: 1;
}
.delivery-rules-block {
  padding: 20px 0 0 0;
}

.delivery-rules__desc {
  padding-bottom: 45px;
}

.delivery-rules__subtitle{
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding: 30px;
}

.delivery-rules__text-block {
  margin-bottom: 25px;
  & p {
    padding: 0;
    line-height: 1.5;
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  
}