.documents {
  padding: 10px 0;
  margin-bottom: 30px;
}

.documents__list {
  display: flex;
}

.documents__item {
  & a {
    display: flex;
    height: 100%;
  }
  & span {
    text-decoration: underline;
    padding: 0 20px;
  }
}