.e-404__title {
  font-size: 25px;
  padding: 0 0 15px 0;
}

.e-404__desc {
  text-align: center;
  & a {
    color: $green;
    text-decoration: underline;
  }
}

.e-404__text {
  position: relative;
  z-index: 1;
}
.e-404__wrap {
  display: flex;
  align-items: center;
}

.e-404 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  height: 100%;
  min-height: 500px;
  width: 95%;
  margin: 10px auto 70px;
  //background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 1131 452' fill='%23f4f4f4' xml:space='preserve'%3E%3Cpath d='m 565.15039,-0.68359375 c -52.99067,0 -94.0489,16.12825475 -123.17187,48.38476575 -28.90401,32.25651 -43.35547,78.120808 -43.35547,137.593748 v 80.43946 c 0,59.06973 14.56062,104.8329 43.68359,137.29101 29.12297,32.45811 70.29036,48.6875 123.5,48.6875 52.7717,0 93.60967,-16.12825 122.51367,-48.38477 29.12298,-32.25651 43.6836,-78.1208 43.6836,-137.59374 v -80.13672 c 0,-59.27134 -14.56062,-105.137593 -43.6836,-137.595707 C 659.19734,15.54384 618.14106,-0.68359375 565.15039,-0.68359375 Z M 192.02539,5.3632812 V 6.2714844 L 0.53515625,289.92578 7.1054688,352.22266 H 192.02539 v 93.4414 h 110.68945 v -93.4414 h 48.61133 V 273.5957 H 302.71484 V 5.3632812 Z m 779.09375,0 V 6.2714844 L 779.63086,289.92578 l 6.56836,62.29688 h 184.91992 v 93.4414 h 110.68946 v -93.4414 h 48.6113 V 273.5957 h -48.6113 V 5.3632812 Z M 565.15039,77.941406 c 19.48831,0 33.72146,7.862842 42.69922,23.587894 8.97776,15.52344 13.46484,39.11001 13.46484,70.76172 v 108.86523 c -0.21897,31.6517 -4.81716,54.93683 -13.79492,69.85547 -8.97776,14.71703 -22.88149,22.07617 -41.71289,22.07617 -19.48831,0 -33.72146,-7.55945 -42.69922,-22.67969 -8.97776,-15.32184 -13.4668,-39.41407 -13.4668,-72.27539 V 165.63867 c 0.65691,-29.43406 5.25511,-51.4084 13.79493,-65.923826 8.75879,-14.51543 22.66447,-21.773438 41.71484,-21.773438 z m -373.125,60.177734 V 273.5957 H 105.9707 l 79.15625,-125.19531 z m 779.09375,0 V 273.5957 h -86.05469 l 79.15821,-125.19531 z'%3E%3C/path%3E%3C/svg%3E") center center / contain no-repeat;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.2;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 1131 452' fill='%23c4c4c4' xml:space='preserve'%3E%3Cpath d='m 565.15039,-0.68359375 c -52.99067,0 -94.0489,16.12825475 -123.17187,48.38476575 -28.90401,32.25651 -43.35547,78.120808 -43.35547,137.593748 v 80.43946 c 0,59.06973 14.56062,104.8329 43.68359,137.29101 29.12297,32.45811 70.29036,48.6875 123.5,48.6875 52.7717,0 93.60967,-16.12825 122.51367,-48.38477 29.12298,-32.25651 43.6836,-78.1208 43.6836,-137.59374 v -80.13672 c 0,-59.27134 -14.56062,-105.137593 -43.6836,-137.595707 C 659.19734,15.54384 618.14106,-0.68359375 565.15039,-0.68359375 Z M 192.02539,5.3632812 V 6.2714844 L 0.53515625,289.92578 7.1054688,352.22266 H 192.02539 v 93.4414 h 110.68945 v -93.4414 h 48.61133 V 273.5957 H 302.71484 V 5.3632812 Z m 779.09375,0 V 6.2714844 L 779.63086,289.92578 l 6.56836,62.29688 h 184.91992 v 93.4414 h 110.68946 v -93.4414 h 48.6113 V 273.5957 h -48.6113 V 5.3632812 Z M 565.15039,77.941406 c 19.48831,0 33.72146,7.862842 42.69922,23.587894 8.97776,15.52344 13.46484,39.11001 13.46484,70.76172 v 108.86523 c -0.21897,31.6517 -4.81716,54.93683 -13.79492,69.85547 -8.97776,14.71703 -22.88149,22.07617 -41.71289,22.07617 -19.48831,0 -33.72146,-7.55945 -42.69922,-22.67969 -8.97776,-15.32184 -13.4668,-39.41407 -13.4668,-72.27539 V 165.63867 c 0.65691,-29.43406 5.25511,-51.4084 13.79493,-65.923826 8.75879,-14.51543 22.66447,-21.773438 41.71484,-21.773438 z m -373.125,60.177734 V 273.5957 H 105.9707 l 79.15625,-125.19531 z m 779.09375,0 V 273.5957 h -86.05469 l 79.15821,-125.19531 z'%3E%3C/path%3E%3C/svg%3E")
      center center / contain no-repeat;
  }

  @include laptop {
    min-height: 50vw;
  }
  @include phones {
    margin-bottom: 30px;
    min-height: 80vw;

    &::after {
      background-position: center 40px;
    }
  }
}

.e-404__circles {
  position: absolute;
  width: 33%;
  left: 50%;
  top: calc(50% - 20px);
  transform: translate(-50%, -50%);

  @include phones {
    top: 55px;
    transform: translateX(-50%);
  }
}

.e-404__null {
  position: absolute;
  height: 40%;
  width: 24%;
  min-width: 40px;
  min-height: 80px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 13px solid #3c773a;
  border-radius: 150px;
  background: linear-gradient(to bottom, #3c773a 50%, #6aa068 50% 100%);

  &::before,
  &::after {
    content: "";
    height: 120%;
    width: 190%;
    position: absolute;
    top: -10%;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='116px' height='141px'%3E%3Ctext kerning='auto' fill='rgb(f, f, f)' transform='matrix( 1.20000004768372, 0, 0, 1.2,0.46279374003416, 140.7)' font-size='165px'%3E%3Ctspan font-size='165px' font-family='Roboto' font-weight='bold' fill='%23fff'%3E&%2332;&%2352;%3C/tspan%3E%3C/text%3E%3C/svg%3E")
      center center / contain no-repeat;
  }

  &::before {
    left: 0;
    transform: translateX(70%);
  }
  &::after {
    right: 0;
    transform: translateX(-70%);
  }
}
