.manufacture__info {
  margin-bottom: 80px;
}

.manufacture__particular {
  padding: 10px 0 40px 0;
}

.manufacture__roster {
  padding: 30px 0 20px 0;
}

.manufacture__subtitle {
  margin-bottom: 30px;
}

.manufacture__pharmacy {
  padding: 50px 0 0 0;
}
