.priviliges__title {
  font-size: 35px;
  font-family: "Roboto Medium", Arial, sans-serif;
  text-align: center;
}

.section__top {
  height: 410px;
  width: 100%;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.priviliges__desc {
  line-height: 1.5;
  margin-bottom: 50px;
}

.priviliges__decrees {
  padding: 40px 0 15px 0;
  & ul {
    padding: 20px 0;
    margin-bottom: 30px;
  }
  & li {
    position: relative;
    margin-bottom: 25px;
    padding-left: 40px;
    line-height: 1.5;

    &::before {
      content: "";
      position: absolute;
      width: 25px;
      height: 1px;
      background: #000;
      left: 0;
      top: 10px;
    }
  }
  & p {
    margin-bottom: 15px;
    line-height: 1.4;
  }
}