.provision__info {
  margin-bottom: 45px;
}

.provision__way-roster {
  margin: 20px 0 10px 0;
}

.provision__decrees {
  padding: 65px 0 80px 0;
}

.provision__decrees-roster {
  margin: 10px 0 50px 0;
}
