.production {
  padding-bottom: 0;
}
.production__title {
  font-size: 35px;
  font-family: "Roboto Medium", Arial, sans-serif;
  padding: 50px 0 40px 0;
}

.production__desc {
  margin-bottom: 70px;

  & p {
    line-height: 1.5;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }  
}

.production__text-block {
  padding: 10px 0 40px 0;
  & p {
    line-height: 1.5;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }  
}

.production__pharmacy {
  padding: 10px 0 0 0;
}