body.eye-activate,
body.eye-activate p,
body.eye-activate span,
body.eye-activate div,
//body.eye-activate div:not(.lightSlider, .lslide, .clone),
body.eye-activate aside,
body.eye-activate h1,
body.eye-activate h2,
body.eye-activate h3,
body.eye-activate h4,
body.eye-activate h5,
body.eye-activate h6,
body.eye-activate label,
body.eye-activate table {
  width: 97% !important;
  font-size: 23px !important;
  letter-spacing: 1px !important;
  transition: 0.3s;
  float: none !important;
  clear: both !important;
  position: relative !important;
  top: 0 !important;
  color: #000000 !important;
  border: 0px !important;
  margin: 0 auto 16px;
  font-style: normal !important;
  z-index: 1 !important;
  padding: 0 !important;
  left: 0;
}
@media screen and (max-width: 460px) {
  body.eye-activate,
  body.eye-activate p,
  body.eye-activate span,
  body.eye-activate div,
  body.eye-activate aside,
  body.eye-activate h1,
  body.eye-activate h2,
  body.eye-activate h3,
  body.eye-activate h4,
  body.eye-activate h5,
  body.eye-activate h6,
  body.eye-activate label,
  body.eye-activate table {
    font-size: 20px !important;
  }
}
body.eye-activate ul:not(.sert_list) {
  width: 97% !important;
  font-size: 23px !important;
  letter-spacing: 1px !important;
  transition: 0.3s;
  float: none !important;
  clear: both !important;
  position: relative !important;
  top: 0 !important;
  color: #000000 !important;
  border: 0px !important;
  margin: 0 auto 16px;
  font-style: normal !important;
  z-index: 1 !important;
  padding: 0 !important;
  left: 0;
}
body.eye-activate p::before {
  display: none;
}

body.eye-activate header {
  padding-bottom: 0;
  background-image: none;
}
body.eye-activate .menu_btn {
  display: none !important;
}
body.eye-activate nav,
body.eye-activate section {
  width: 97% !important;
}
body.eye-activate nav ul {
  position: static !important;
  display: block !important;
  width: 100% !important;
  box-shadow: none;
}
body.eye-activate nav ul li {
  width: 100%;
  padding: 0;
}
body.eye-activate .main-catalog.container {
  margin-top: 0;
}
body.eye-activate .main-catalog_list.row {
  max-width: 100%;
}
body.eye-activate .main-catalog_list.row li span {
  max-width: 100%;
}
body.eye-activate footer nav,
body.eye-activate footer section {
  width: 100% !important;
}
body.eye-activate footer section,
body.eye-activate footer .copy {
  background: #fff;
}
body.eye-activate footer section {
  padding-top: 20px;
}
body.eye-activate footer nav ul {
  display: none !important;
}
body.eye-activate h1,
body.eye-activate h2 {
  font-size: 30px !important;
  padding: 25px 0 !important;
}
body.eye-activate .serts h2 {
  color: #fff !important;
}
body.eye-activate .team .team_item {
  margin-bottom: 10px !important;
  padding: 30px 0px !important;
}
body.eye-activate table {
  width: 100% !important;
}
body.eye-activate table td {
  font-size: 20px !important;
  line-height: 28px !important;
  letter-spacing: 1px !important;
  transition: 0.3s;
  color: #000000 !important;
}
@media screen and (max-width: 768px) {
  body.eye-activate .header_time.row {
    flex-wrap: wrap;
  }
  body.eye-activate .price table td:first-child {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  body.eye-activate .price table td:first-child {
    display: block;
    font-size: 16px;
  }
  body.eye-activate .price table td {
    display: block;
    width: 100%;
    border: none !important;
  }
}
body.eye-activate .article h3 {
  width: 100% !important;
  margin: 0 !important;
  padding: 15px !important;
}
body.eye-activate .article h3::before {
  display: none;
}
body.eye-activate .article p {
  width: 100% !important;
  padding: 15px !important;
}
body.eye-activate .article span {
  width: auto !important;
  margin-right: 15px !important;
  margin-left: auto !important;
  padding: 15px 20px !important;
}
@media screen and (min-width: 1170px) {
  body.eye-activate .contacts .time:nth-child(2) {
    margin-left: auto;
    margin-right: auto;
  }
}
body.eye-activate[data-color="white"],
body.eye-activate[data-color="white"] p,
body.eye-activate[data-color="white"] span,
body.eye-activate[data-color="white"] div,
body.eye-activate[data-color="white"] ul,
body.eye-activate[data-color="white"] aside,
body.eye-activate[data-color="white"] a,
body.eye-activate[data-color="white"] h1,
body.eye-activate[data-color="white"] h2,
body.eye-activate[data-color="white"] h3,
body.eye-activate[data-color="white"] h4,
body.eye-activate[data-color="white"] h5,
body.eye-activate[data-color="white"] h6,
body.eye-activate[data-color="white"] label,
body.eye-activate[data-color="white"] table {
  background: #fff !important;
}
body.eye-activate[data-color="blue"],
body.eye-activate[data-color="blue"] p,
body.eye-activate[data-color="blue"] span,
body.eye-activate[data-color="blue"] div,
body.eye-activate[data-color="blue"] ul,
body.eye-activate[data-color="blue"] aside,
body.eye-activate[data-color="blue"] a,
body.eye-activate[data-color="blue"] h1,
body.eye-activate[data-color="blue"] h2,
body.eye-activate[data-color="blue"] h3,
body.eye-activate[data-color="blue"] h4,
body.eye-activate[data-color="blue"] h5,
body.eye-activate[data-color="blue"] h6,
body.eye-activate[data-color="blue"] label,
body.eye-activate[data-color="blue"] table {
  background: #9dd1ff !important;
  color: #195183 !important;
}
body.eye-activate[data-color="beige"],
body.eye-activate[data-color="beige"] p,
body.eye-activate[data-color="beige"] span,
body.eye-activate[data-color="beige"] div,
body.eye-activate[data-color="beige"] ul,
body.eye-activate[data-color="beige"] aside,
body.eye-activate[data-color="beige"] a,
body.eye-activate[data-color="beige"] h1,
body.eye-activate[data-color="beige"] h2,
body.eye-activate[data-color="beige"] h3,
body.eye-activate[data-color="beige"] h4,
body.eye-activate[data-color="beige"] h5,
body.eye-activate[data-color="beige"] h6,
body.eye-activate[data-color="beige"] label,
body.eye-activate[data-color="beige"] table {
  background: #f7f3d6 !important;
  color: #4d4b43 !important;
}
body.eye-activate[data-color="braun"],
body.eye-activate[data-color="braun"] p,
body.eye-activate[data-color="braun"] span,
body.eye-activate[data-color="braun"] div,
body.eye-activate[data-color="braun"] ul,
body.eye-activate[data-color="braun"] aside,
body.eye-activate[data-color="braun"] a,
body.eye-activate[data-color="braun"] h1,
body.eye-activate[data-color="braun"] h2,
body.eye-activate[data-color="braun"] h3,
body.eye-activate[data-color="braun"] h4,
body.eye-activate[data-color="braun"] h5,
body.eye-activate[data-color="braun"] h6,
body.eye-activate[data-color="braun"] label,
body.eye-activate[data-color="braun"] table {
  background: #3b2716 !important;
  color: #a9dd38 !important;
}
body.eye-activate img.close-nav-eye {
  position: absolute !important;
  top: 10px !important;
  right: 10px !important;
  cursor: pointer;
  z-index: 100;
}
body.eye-activate img.main-version {
  clear: both;
}
body.eye-activate #navigation-eye p.back {
  font-size: 18px !important;
  font-weight: 300 !important;
  cursor: pointer !important;
  display: inline-block !important;
  text-transform: none !important;
}
body.eye-activate[data-color="black"],
body.eye-activate[data-color="black"] p,
body.eye-activate[data-color="black"] span,
body.eye-activate[data-color="black"] div,
body.eye-activate[data-color="black"] ul,
body.eye-activate[data-color="black"] aside,
body.eye-activate[data-color="black"] a,
body.eye-activate[data-color="black"] h1,
body.eye-activate[data-color="black"] h2,
body.eye-activate[data-color="black"] h3,
body.eye-activate[data-color="black"] h4,
body.eye-activate[data-color="black"] h5,
body.eye-activate[data-color="black"] h6,
body.eye-activate[data-color="black"] label,
body.eye-activate[data-color="black"] table {
  background: #000 !important;
  color: #fff !important;
}
body.eye-activate {
  padding-top: 150px !important;
}
body.eye-activate #lightbox {
  display: none !important;
}
body.eye-activate .wrap1 {
  text-align: center;
}
body.eye-activate #ogran {
  left: 0;
}
body.eye-activate div,
body.eye-activate p {
  margin-bottom: 20px !important;
}
body.eye-activate .navigation-pages a {
  text-decoration: none;
  display: block !important;
  margin-bottom: 12px !important;
  padding: 7px 12px !important;
}
body.eye-activate input,
body.eye-activate textarea {
  border: 1px solid #cfcfcf !important;
  margin: 12px 0 !important;
  font-size: 28px !important;
  line-height: 28px !important;
  width: 98% !important;
  max-width: 98% !important;
  padding: 7px;
}
body.eye-activate button,
body.eye-activate input[type="submit"],
body.eye-activate input[type="button"] {
  width: 50%;
  text-align: center;
  padding: 12px 0;
  background: #cfcfcf;
  color: #000000 !important;
  display: block;
  margin: 0 auto 20px !important;
  height: auto;
  cursor: pointer !important;
}
body.eye-activate {
  width: 100% !important;
  margin: 0 auto !important;
}
body.eye-activate header a.eye-activate-btn {
  display: none !important;
}

/**********************************/
/* START css for settings eye menu*/
/**********************************/
#navigation-eye {
  display: none;
  text-align: center;
}
body.eye-activate #navigation-eye {
  display: block !important;
  position: fixed !important;
  width: 100% !important;
  top: 0 !important;
  left: 0 !important;
  padding-right: 20px !important;
  background: #fff;
  z-index: 10000 !important;
  border-bottom: 2px solid #ced2d2 !important;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
body.eye-activate #navigation-eye p,
body.eye-activate[data-color="white"] #navigation-eye p,
body.eye-activate[data-color="blue"] #navigation-eye p,
body.eye-activate[data-color="beige"] #navigation-eye p,
body.eye-activate[data-color="braun"] #navigation-eye p,
body.eye-activate[data-color="black"] #navigation-eye p {
  text-transform: uppercase !important;
  /* font-size: 24px !important; */
  line-height: 24px !important;
  letter-spacing: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 10px !important;
  font-size: 18px !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  color: #3b3b3b !important;
  background: none !important;
  margin: 0 !important;
}
body.eye-activate.img-hidden img,
body.eye-activate.img-hidden .content.r img,
body.eye-activate.img-hidden .content.r iframe {
  display: none !important;
}
body.eye-activate.img-hidden #navigation-eye img {
  display: inline-block !important;
}
body.eye-activate #navigation-eye > div {
  display: inline-block !important;
  vertical-align: top !important;
  width: 19% !important;
  border-right: 2px solid #ced2d2 !important;
  background: none !important;
  padding: 20px 0 !important;
  margin: 0 !important;
  min-height: 114px !important;
}
body.eye-activate #navigation-eye > div:last-of-type {
  border-right: none !important;
}
body.eye-activate span.ui-slider-handle,
body.eye-activate[data-color] span.ui-slider-handle {
  position: relative;
  width: 30px !important;
  height: 30px !important;
  border-radius: 15px 15px 15px 15px !important;
  background: linear-gradient(to bottom, #ff770f, #ff5718) !important;
  border: none !important;
  cursor: pointer !important;
  outline: none !important;
}
.ui-widget.ui-widget-content {
  height: 10px !important;
  width: 90% !important;
}
a.nav-eye-btn {
  display: none;
}
.eye-version {
  position: relative;
}
body.eye-activate a.nav-eye-btn {
  display: none !important;
  position: fixed !important;
  width: 300px !important;
  right: 20px !important;
  text-align: center;
  color: #3b3b3b !important;
  background: #fafafa !important;
  border-bottom: 2px solid #ced2d2 !important;
  border-left: 2px solid #ced2d2 !important;
  border-right: 2px solid #ced2d2 !important;
  border-radius: 0 0 5px 5px !important;
  top: 0 !important;
  padding: 6px 12px 6px 41px !important;
  font-size: 20px !important;
  text-decoration: none;
  left: auto !important;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
body.eye-activate a.nav-eye-btn:before {
  display: block;
  position: absolute;
  top: 11px;
  left: 9px;
  content: url('../website/eye/img/eye.png');
}
body.eye-activate div.imgs-block,
body.eye-activate div.color-block {
  margin-top: 12px !important;
  background: none !important;
}
#contentSlider,
#contentSlider-two {
  background: none !important;
  margin: 12px auto !important;
  cursor: pointer !important;
  overflow: hidden !important;
  width: 90% !important;
  color: #3b3b3b !important;
  position: relative !important;
}
#contentSlider:before {
  display: block;
  position: absolute;
  top: 0;
  left: 53px;
  content: url('../website/eye/img/text-size.png');
}
#contentSlider-two:before {
  display: block;
  position: absolute;
  top: 0;
  left: 53px;
  content: url('../website/eye/img/tracking.png');
}
#slider,
#slider-two {
  background: #9b8686 !important;
  cursor: pointer !important;
  margin: 15px auto !important;
}
.imgs-block div,
.color-block div {
  display: inline-block !important;
  vertical-align: top !important;
  cursor: pointer !important;
  width: auto;
}
body.eye-activate .imgs-block p,
body.eye-activate .color-block p {
  font-weight: 300 !important;
}
.ui-slider .ui-slider-handle {
  cursor: pointer !important;
  background: #ff5718 !important;
}
body.eye-activate #navigation-eye .imgs-block p span,
body.eye-activate #navigation-eye .color-block p span,
body.eye-activate #navigation-eye p.back {
  font-weight: 300 !important;
  text-transform: none !important;
  cursor: pointer !important;
  color: #3b3b3b !important;
  font-size: 18px !important;
  background: none !important;
  padding: 5px 9px !important;
  border-radius: 5px;
  display: inline !important;
  top: 5px !important;
}
body.eye-activate #navigation-eye p.back {
  width: auto !important;
  margin-top: 0px !important;
  display: inline-block !important;
}
body.eye-activate #navigation-eye .imgs-block > p > span:hover,
body.eye-activate #navigation-eye .color-block > p > span:hover,
body.eye-activate #navigation-eye p.back:hover {
  background: rgba(0, 0, 0, 0.2) !important;
}
body.eye-activate #navigation-eye img.main-version {
  display: block !important;
  margin: 12px auto 0 !important;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -0.4em !important;
}
body.eye-activate #navigation-eye .imgs-block > div,
body.eye-activate #navigation-eye .color-block > div {
  background: rgba(0, 0, 0, 0.5) !important;
  top: 155% !important;
  position: absolute !important;
  border-radius: 0px 0px 5px 5px;
  display: none !important;
}
body.eye-activate #navigation-eye .imgs-block > div span,
body.eye-activate #navigation-eye .color-block > div span {
  font-weight: 300 !important;
  text-transform: none !important;
  font-size: 18px !important;
  cursor: pointer !important;
  background: none !important;
  color: #fff !important;
  padding: 5px 9px !important;
  border-radius: 5px;
  margin: 0 !important;
  width: auto !important;
  border-radius: 5px;
}
body.eye-activate #navigation-eye .imgs-block > div span:hover,
body.eye-activate #navigation-eye .color-block > div span:hover {
  background: rgba(255, 87, 24, 0.8) !important;
}
@media screen and (max-width: 1200px) {
  .imgs-block > p:before,
  #contentSlider-two:before,
  #contentSlider:before {
    left: 5px;
  }
}

body.eye-activate #navigation-eye .imgs-block p span {
  position: relative;
  padding-left: 40px !important;
}
.imgs-block span:before {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 0px;
  left: 0;
  content: "";
  background-image: url('../website/eye/img/color.png');
}

@media screen and (max-width: 900px) {
  body.eye-activate {
    padding-top: 350px !important;
  }
  body.eye-activate #navigation-eye > div {
    display: block;
    width: 50% !important;
    padding: 10px 0 !important;
  }
}
@media screen and (max-width: 480px) {
  body.eye-activate #navigation-eye p {
    font-size: 16px !important;
  }
}
/**********************************/
/* THE END css for settings eye menu*/
/**********************************/

/*******************************************/
/* START individual style for your web-site*/
/*******************************************/
body.eye-activate {
  & .page-wrap {
    width: 100% !important;
    margin-bottom: 0 !important;
  }
  & section {
    width: 100% !important;
  }

  & aside {
    display: none !important;
  }

  & .section__block-bg {
    padding: 30px 0 !important;
    width: 100% !important;
  }
  & .header {
    grid-template-columns: 35% 1fr;
    grid-template-rows: repeat(3, max-content);
    grid-gap: 20px;

    @include phones {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(5, max-content);
    }
    & .logo {
      align-items: flex-start;
      grid-row: 1/2;
      & span {
        color: $green !important;
      }
    }
    & .header__adr {
      & .current {
        padding-left: 0;
        color: #000;
      }
      & span {
        background: none;
      }
      @include phones {
        grid-row: 3/4;
      }
    }
    & .header__links {
      grid-row: 1/2;
      font-size: 23px;
      align-items: flex-start;
      display: flex !important;

      @include big {
        flex-direction: column;
      }
      @include phones {
        grid-row: 2/3;
      }

      & a {
        font-size: 23px;
        font-family: $med;
        text-transform: uppercase;
        color: $green !important;
        text-align: left;
        position: relative;
        padding: 30px 0 0 0 !important;

        &::before {
          display: none;
        }
      }
      & .header__cart {
        padding-right: 35px !important;
        & span {
          color: $green !important;
        }
        & .number {
          color: #fff !important;
          position: absolute !important;
          top: 15px !important;
          left: 100%;
          transform: translateX(-100%);
          width: 35px !important;
          height: 35px;
          line-height: 35px;
          vertical-align: middle;
        }
      }
    }
    & .header__contacts {
      grid-column: 2/3;
      display: block !important;
      & p {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
      }
      @include phones {
        grid-row: 4/5;
        grid-column: 1/2;
      }
    }
    & .search {
      margin-left: auto;
      grid-column: 1/3;
      & .row {
        flex: 1;
        margin-right: 30px;
        flex-wrap: nowrap;
      }
      & .header__help {
        font-size: 20px;
      }
    }
    & .nav-toggle {
      display: none !important;
    }
  }
  & nav {
    display: block !important;
    margin: 0 auto;
    & > ul {
      & > li {
        font-size: 23px !important;
        padding: 10px 0 !important;
        & a {
          display: block !important;
        }
        & ul {
          margin-bottom: 0 !important;
          & > li {
            padding: 0 !important;
            margin-bottom: 0 !important;
            & a {
              font-size: 20px !important;
            }
          }
        }
      }
    }
  }

  & .slider {
    width: 100% !important;
    & .slider__list {
      width: 100% !important;
    }
    & .slider__item-block {
      align-items: flex-start;
      &::before,
      &::after {
        display: none;
      }
    }
    & .slider__item-title {
      display: flex;
      width: auto !important;
      & div,
      & span {
        font-size: 30px !important;
        margin: 20px 10px 0 0 !important;
        color: #fff !important;
        width: auto !important;
      }
    }
    & .slider__item-text {
      width: auto !important;
      margin: 0 !important;
      padding: 0 30px !important;
      &::before {
        width: 100%;
        left: 0;
        top: 0;
        background: $green;
      }
      & .slider__item-sub {
        width: auto !important;
        color: #fff !important;
      }
    }
  }

  & .company-contacts__list {
    flex-direction: column;
    align-items: flex-start;

    & .company-contacts__item {
      width: 100% !important;
    }

    & .company-contacts__link {
      text-align: left !important;
      & span {
        margin: 0 0 0 20px;
      }
    }

    & .company-contacts__text {
      text-align: left !important;
    }
  }

  & .banner-block {
    & .banner-block__img {
      display: none;
    }

    & .banner-block__text {
      width: 100% !important;
      &::before {
        width: 100%;
      }
    }
    & .banner-block__desc {
      & p,
      h2 {
        color: #fff !important;
      }
    }
  }
  & ul.advantages__list {
    padding: 20px 10px !important;
    width: 100% !important;
    background: #f4f4f4;
    grid-template-rows: repeat(5, max-content) !important;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
    @include tablets {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(10, max-content) !important;
    }
  }
  & .advantages__item {
    background: none;
  }

  & .advantage {
    & .advantage__img {
      display: none;
    }
    & .advantage__text {
      width: auto !important;
      height: auto !important;
      margin: 0 !important;
      padding: 20px 0 !important;
      & div {
        margin: 0 0 0 20px !important;
      }
      & .advantage__title {
        width: auto !important;
      }
      & .advantage__num {
        width: auto !important;
      }
    }
    & .advantage__logo {
      width: 100px !important;
      height: 100px !important;
    }
  }

  & .certify__docs-list {
    display: block;
    & .certify__docs-item {
      max-width: none;
      & span {
        padding-left: 20px !important;
      }
    }
  }

  & .schema {
    & .schema__main {
      border-radius: 0;
      & span {
        color: #fff !important;
        margin: 20px !important;
        width: auto !important;
      }

      &::before,
      &::after {
        display: none;
      }
    }
    & .schema__list {
      @include tablets {
        flex-direction: column !important;
      }
    }
    & .schema__item {
      max-width: 50%;
      @include tablets {
        max-width: none;
      }

      & .schema__item-sub {
        & object {
          display: none;
        }
      }
      & .schema__item-graph {
        &::before,
        &::after {
          display: none;
        }
      }
      & .schema__block {
        height: auto !important;
        padding: 10px 0 !important;
        border-radius: 0;
        border: none;
        margin-right: 10px;
        & div {
          flex: 0;
          color: #fff !important;
          margin: 0 0 10px 0 !important;
        }
      }
    }
  }
  & footer {
    background: #f4f4f4;
    grid-template-columns: 1fr;
    padding-top: 20px !important;
    & .logo {
      display: none;
    }
    & .copy {
      width: 100% !important;
    }
    & .footer__adr {
      margin: 0 !important;
      max-width: none !important;
    }
    & .mtop.footer__tel {
      grid-column: 1/3 !important;
      margin: 0 !important;
      max-width: none !important;
      & span {
        margin: 0 0 20px 0 !important;
      }
    }
  }
  & .fancybox-close-small {
    width: 44px !important;
    height: 44px !important;
    background: none;
  }

  & #callback-overlay {
    background: $green;

    & .overlay {
      &::before {
        display: none;
      }
    }
    & .overlay__title {
      margin-top: 20px;
      font-size: 30px !important;
    }
    & .overlay__form-row, .overlay__button {
      margin: 0 !important;
    }
  }

  & .fancybox-container {
    position: fixed !important;
    width: 100% !important;
    left: 0 !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
  }

  & .fancybox-bg,
  .fancybox-inner,
  .fancybox-outer,
  .fancybox-stage {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    margin:  0 !important;
  }
  & .fancybox-slide,
  .fancybox-toolbar {
    position: absolute !important;
  }
  & .fancybox-slide {
    padding-top: 130px !important;
    @media screen and (max-width: 900px) {
      padding-top: 350px !important;
    }
  }

  & .pharmacy_list {
    grid-template-columns: 50% 50%;

    @include tablets {
      grid-template-columns: 1fr;
    }
  }
  & .pharmacy_list__tel,
  .pharmacy_item__tel {
    padding-left: 30px !important;
  }
  & .pharmacy_list__more {
    z-index: 2 !important;
    & span {
      padding: 30px !important;
      color: #fff !important;
      font-family: $med !important;
    }
  }

  & .pharmacy_item__map {
    margin: 0 !important;
    max-width: none;
    height: 300px;
  }

  & .pharmacy_item__search {
    & .pharmacy_item__title {
      font-size: 32px !important;
      margin: 15px 15px 0 15px !important;
      color: $green !important;
      font-family: $med !important;
    }

    & button {
      background-color: #488b45 !important;
      background-image: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 70 70' height='70px' fill='%23fff' viewBox='0 0 70 70' width='70px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath d='M51.957,49.129l-8.713-8.713c1.75-2.337,2.799-5.229,2.799-8.373c0-7.732-6.268-14-14-14s-14,6.268-14,14s6.268,14,14,14 c3.144,0,6.036-1.049,8.373-2.799l8.713,8.713L51.957,49.129z M22.043,32.043c0-5.514,4.486-10,10-10c5.514,0,10,4.486,10,10 c0,5.514-4.486,10-10,10C26.529,42.043,22.043,37.557,22.043,32.043z'/%3E%3C/svg%3E") !important;
      background-repeat: no-repeat;
      background-position: center;
      margin: 12px 0 !important;
    }
  }

  & .pharmacy_item__storage {
    margin: 0 0 20px 10px !important;
  }

  & .item__info {
    & .item__avail {
      &--available {
        color: #fff !important;
        padding: 10px 20px 10px 45px !important;
        border-radius: 0;
      }
    }
  }

  & .item__cart {
    & span {
      color: #fff !important;
      font-size: 30px !important;
      margin: 0 !important;
    }
  }
  & .item__link {
    font-size: 20px !important;
  }

  & .similar_item__cart {
    width: 60px !important;
    height: 60px !important;
  }

  & .lightSlider {
    transform: none !important;
    display: flex !important;
    flex-direction: column !important;
    height: auto !important;
  }

  & .region_choose__list {
    & > ul {
      & > li {
        font-size: 20px !important;
      }
    }
  }
}

/*******************************************/
/* THE END individual style for your web-site*/
/*******************************************/
