$normal: "Roboto", "Arial", sans-serif;
$bold: "Roboto Bold", "Arial", sans-serif;
$med: "Roboto Medium", "Arial", sans-serif;
$light: "Roboto Light", "Arial", sans-serif;
$red: #d93646;
$gray: #f4f4f4;
$midGray: #ababb2;
$green: #488b45;
$lightGreen: #95b893;

$orange: #f39628;
$mint: #87bbb0;

$lmed: "Montserrat Medium", "Arial", sans-serif;
$sbold: "Montserrat ExtraBold", "Arial", sans-serif;

$desktop: 1170px;
$big: 1024px;
$laptop: 960px;
$tablets: 768px;
$phones: 600px;
$phones-small: 400px;
