$normal: "Roboto", "Arial", sans-serif;
$bold: "Roboto Bold", "Arial", sans-serif;
$med: "Roboto Medium", "Arial", sans-serif;
$light: "Roboto Light", "Arial", sans-serif;
$red: #d93646;
$gray: #f4f4f4;
$green: #488b45;

$orange: #f39628;
$mint: #87bbb0;

$lmed: "Montserrat Medium", "Arial", sans-serif;
$sbold: "Montserrat ExtraBold", "Arial", sans-serif;

$decktop: 1170px;
$big: 1024px;
$medium: 960px;
$medium-s: 768px;
$small: 600px;
$x-small: 400px;

